<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css">
    <!--FAVICON-->
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">


    <title>Esmaltado - The Koala Nails</title>
</head>

<body>
    <div class="container_esmaltado">
        <header class="nav_esmaltado">
            <div class="logo logo_esmaltado">
                <a href="../index.html">
                    <img src="../static/img/logo_blanco.png" alt="Logo Koala Nails">
                </a>
            </div>
            <div class="nav_menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#">Kapping</a></li>
                    <li><a href="#">Esculpidas</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </header>

        <main class="main_esmaltado">
            <div class="titulo">
                <h1>Semipermanente</h1>
            </div>
            <div class="description">
                <h2>El servicio de esmaltado semipermanente ofrece un acabado que dura hasta dos
                    semanas, ¡perfecto para aquellas que no les gusta retocar su esmaltado cada tres días!
                    Recomendamos un retoque cada dos semanas para mantener tus uñas siempre en su mejor estado.
                    <h3>
                        Para asegurar resultados óptimos, evita el contacto con productos químicos agresivos y mima tus
                        uñas con
                        aceite para cutículas regularmente.
                    </h3>
                </h2>
            </div>

            <div class="carrusel_trabajos">
                <h4>Mirá nuestros trabajos</h4>
                <div class="carrusel_imagenes">
                    <img src="../static/img/carrusel_esmaltado/imagen_1.jpg" alt="">
                    <img src="../static/img/carrusel_esmaltado/imagen_2.jpg" alt="">
                    <img src="../static/img/carrusel_esmaltado/imagen_3.jpg" alt="">
                    <img src="../static/img/carrusel_esmaltado/imagen_4.jpg" alt="">
                    <img src="../static/img/carrusel_esmaltado/imagen_5.jpg" alt="">
                    <img src="../static/img/carrusel_esmaltado/imagen_6.jpg" alt="">
                    <img src="../static/img/carrusel_esmaltado/imagen_7.jpg" alt="">
                    <img src="../static/img/carrusel_esmaltado/imagen_8.jpg" alt="">
                    <img src="../static/img/carrusel_esmaltado/imagen_9.jpg" alt="">
                    <img src="../static/img/carrusel_esmaltado/imagen_10.jpg" alt="">
                </div>
            </div>
        </main>
    </div>
</body>

</html>